@using Logic
@using Logic.Domain
@using RollerSkis.Models;
@model Logic.Domain.Product
@{
    var pService = ApplicationContext.ProductService;
    ProductTypeHelper pth = new ProductTypeHelper ();

    string _highType, _lowType;
    List<ProductType> types = pService.GetAncestorTypesAndSelf(Model.ProductType);
    ProductTypeHelper.GetUrlShemeByProductType(types, out _highType, out _lowType);
}
<li class="span3">
    <div class="thumbnail span3">
        <h3>@Html.RouteLink(Model.Name, new { controller = "Product", action = "GetProduct", highType = _highType, lowType = _lowType, modelName = Model.Name })</h3>
            @if (!string.IsNullOrWhiteSpace (Model.ImageName))
            {
                string path = Path.Combine("~/Content/ProductImg", Model.ImageName);
                <img src="@Url.Content(path)" alt=""/>
            }
        <div class="caption">
            <p>@Model.Description</p>
        </div>
    </div>
</li>
